/* assets/css/main.css */
/* @import "tailwindcss";
@import "./.nuxt/ui.css";  */

html, body, #__nuxt {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #0b0714;
  color: #fff;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
    overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #0b0714;
}
::-webkit-scrollbar-thumb {
  background: #2b1f47;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3e2d63;
}